body {
    background: linear-gradient(to right, Pink, White);
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
    font-weight: bold;
}
.search-box {
    border-radius: 20px;
    padding: 10px;
}


table {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}


.available {
    color: green ! important;
    font-weight: bold;
}

.not-available {
    color: red !important;
    font-weight: bold;
}
footer {
    background-color:white;
    color: red;
    padding: 10px;
}
